{% extends 'base.html' %}
{% block content %}
<h2 class="text-center mb-4">View Donors</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Blood Group</th>
            <th>Contact</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        {% for donor in donors %}
        <tr>
            <td>{{ donor[0] }}</td>
            <td>{{ donor[1] }}</td>
            <td>{{ donor[2] }}</td>
            <td>{{ donor[3] }}</td>
            <td>{{ donor[4] }}</td>
            <td>{{ donor[5] }}</td>
            <td>{{ donor[6] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}